input[type="text"]{
  background: #8a8888 !important;
  color: #ffffff ;
  font-size: 28px ;
  /* padding-left: 10px ;
  padding-bottom: 30px;
  padding-top: 20px; */
  text-align: right;
  border: 1px;

}

.screen-row {
  
  background: #8a8888 !important;
  color: #ffffff;
  font-size: 40px;
  padding: 20px;
  text-align: right;
}
.btn:active{
  background-color: #cb7614 !important;
}
.btn{
  background-color: rgb(116, 113, 108) !important;
  width: 100px;
  background: #a1a19e;
  border: 1px solid #222;
  height: 64px;
  color: rgb(77, 75, 75);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: white;
  font-weight: bold;
}
.btnaction1
{
  width: 100px;
  background: #a1a19e;
  border: 1px solid #222;
  height: 64px;
  color: rgb(77, 75, 75);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: white;
  font-weight: bold;
}
.btnaction2{
  width: 200px;
  background: #a1a19e;
  border: 1px solid #222;
  height: 64px;
  color: rgb(77, 75, 75);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: white;
  font-weight: bold;
}
.btnaction{
  width: 100px;
  background: #ee9624;
  border: 1px solid #222;
  height: 64px;
  color: rgb(77, 75, 75);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: white;
  font-weight: bold;
}
